<launch>

  <include file="$(find phylax_description)/launch/description.launch" />
  
  <node pkg="phylax_base" type="phylax_node" name="phylax_node"/>
  
  <include file="$(find phylax_control)/launch/control.launch" />

  <!-- Teleoperation via joystick and rviz interactive markers -->
  <include file="$(find phylax_control)/launch/teleop.launch" />

</launch>
